Plugins>NDPI Safe Tools, "Safe preview NDPI...", fr.cirad.image.ndpisafe.PluginOpenPreview
Plugins>NDPI Safe Tools, "Extract full image...", fr.cirad.image.ndpisafe.PluginFullExtract
Plugins>NDPI Safe Tools, "Extract rectangle ROI...", fr.cirad.image.ndpisafe.PluginRectangleExtract
Plugins>NDPI Safe Tools, "Test and debug...", fr.cirad.image.ndpisafe.NDPITest

Plugins>NDPI Safe Tools, "JsonStuff...", fr.cirad.image.factory.TestRomain("")
Plugins>NDPI Safe Tools, "OLD Preview NDPI...", fr.cirad.image.ndpilegacy.NDPIToolsPreviewPlugin("")
Plugins>NDPI Safe Tools, "OLD Extract to TIFF", fr.cirad.image.ndpilegacy.NDPIToolsExtractToTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Custom extract to TIFF / Mosaic...", fr.cirad.image.ndpilegacy.NDPIToolsCustomExtractToTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Convert directory to TIFF / Mosaic...", fr.cirad.image.ndpilegacy.NDPIToolsCustomConvertDirectoryPlugin("")
Plugins>NDPI Safe Tools, "OLD Open TIFF...", fr.cirad.image.ndpilegacy.NDPIToolsOpenTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Save as compressed TIFF...", fr.cirad.image.ndpilegacy.NDPIToolsSaveAsCompressedTIFFPlugin("")
Help>About Plugins, "OLD NDPITools...", fr.cirad.image.ndpilegacy.AboutNDPITools("")