Plugins>NDPI Safe Tools, "Safe preview NDPI...", com.phenomen.ndpisafe.PluginOpenPreview
Plugins>NDPI Safe Tools, "Extract full image...", com.phenomen.ndpisafe.PluginFullExtract
Plugins>NDPI Safe Tools, "Extract rectangle ROI...", com.phenomen.ndpisafe.PluginRectangleExtract
Plugins>NDPI Safe Tools, "Test and debug...", com.phenomen.ndpisafe.NDPITest

Plugins>NDPI Safe Tools, "JsonStuff...", com.phenomen.factory.TestRomain("")
Plugins>NDPI Safe Tools, "OLD Preview NDPI...", com.phenomen.ndpilegacy.NDPIToolsPreviewPlugin("")
Plugins>NDPI Safe Tools, "OLD Extract to TIFF", com.phenomen.ndpilegacy.NDPIToolsExtractToTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Custom extract to TIFF / Mosaic...", com.phenomen.ndpilegacy.NDPIToolsCustomExtractToTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Convert directory to TIFF / Mosaic...", com.phenomen.ndpilegacy.NDPIToolsCustomConvertDirectoryPlugin("")
Plugins>NDPI Safe Tools, "OLD Open TIFF...", com.phenomen.ndpilegacy.NDPIToolsOpenTIFFPlugin("")
Plugins>NDPI Safe Tools, "OLD Save as compressed TIFF...", com.phenomen.ndpilegacy.NDPIToolsSaveAsCompressedTIFFPlugin("")
Help>About Plugins, "OLD NDPITools...", com.phenomen.ndpilegacy.AboutNDPITools("")